header {
    height: 60px;
}

.cavecera {
    background-color: #c8d7d2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
}

.logo {
    width: 75px;
    margin-inline: 10px;
    margin-block: 5px;
}

.cavecera a {
    color: #373234;
    padding: 5px;
    text-decoration: none;
    margin-inline: 5px;
}

.cavecera i {
    transition: transform .1s;
}

.cavecera a:hover i {
    transform: rotateX(180deg);
}

.dropdawn {
    display: inline-block;
}

.despegable {
    display: none;
    position: absolute;
    background-color: #8c9793;
    margin-top: 6px;
    margin-left: 20px;
    padding-block: 5px;
}

.despegable a{
    display: block;
}

.dropdawn:hover .despegable{
    display: block;
}

.flecha {
    color: #192b2b;
    position: absolute;
    margin-top: -14px;
    margin-left: 30px;
}

.cavecera a:hover {
    color: #000000;
}

.despegable a:hover {
    background-color: #c8d7d2;
    color: #000000;
}