@import 'main.css';


h2 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-block: 35px;
}

.contenido {
    display: block;
    width: 80%;
    margin: auto;
}

.colectivos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.targeta {
    width: 300px;
    height: 300px;
    position: relative;
    margin-block: 10px;
    margin-inline: 5px;
}

.imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.imagenes .logo {
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: #f4f2f0;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 1s;
}

.imagenes .logo .contain {
    object-fit: contain;
}

.background {
    background-color: #373234;
    border-radius: 50px;
}

.imagenes .logo img {
    width: 150px;
    height: 150px;
    transition: transform 1s;
}

.targeta img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    transition: transform 1s;
    backface-visibility: hidden;
}

.hov-tarjeta {
    display: flex;
    position: absolute;
    background-color: #b48d44;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.posicion {
    display: block;
    text-align: center;
}

.hov-tarjeta h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

.targeta:hover img {
    transform: rotateY(180deg);
}

.targeta:hover .imagenes .logo {
    transform: rotateY(180deg);
}

.targeta:hover .hov-tarjeta {
    transform: rotateY(0deg);
}