@import 'main.css';

.contenido {
    width: 80%;
    margin: auto;
}

.contenido h2 {
    font-size: 50px;
    margin-block: 50px;
}

.contenido .fecha {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #797979;
    text-align: right;
}

.contenido img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    float: right;
    margin-left: 10px;
}

.contenido p {
    margin-block: 40px;
    color: #3d3d3d;
    font-size: 17px;
}

.contenido p:first-of-type {
    margin-top: 5px;
}

.contenido .grande {
    font-size: 30px;
}

.contenido p a {
    color: #d84339;
}

.contenido p a:hover {
    color: #773b36;
}

.atras {
    margin-bottom: 50px;
}

.atras a{
    padding: 5px;
    border-radius: 6px;
    color: #f4f2f0;
    background-color: #d84339;
    font-size: 20px;
    text-align: center;
}

.atras a i{
    transform: rotateZ(270deg);
    color: #f4f2f0;
}

.contenido .static {
    float: none;
    display: block;
    width: 100%;
}

.contenido ul {
    margin-bottom: 30px;
    margin-left: 50px;
}

.contenido .todo {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 360px) and (max-width: 400px) {

    .contenido {
        width: 99%;
        margin-inline: 5px;
    }

    .contenido h2 {
        font-size: 37px;
        margin-inline: 5px;
    }

    .contenido img, .contenido .static {
        float: none;
        width: 90%;
        margin-inline: auto;
        display: block;
    }

    .contenido .fecha {
        margin-right: 15px;
    }

    .contenido p {
        margin-inline: 5px;
    }
}