@import 'main.css';

.contenido {
    width: 80%;
    margin: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

.titulo h2 {
    font-size: 40px;
    text-decoration: underline;
}

.titulo img {
    width: 100px;
}

.informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.informacion img, .que-es {
    width: 49%;
}

.que-es h3,  .descripcion h3{
    font-size: 24px;
    margin-block: 5px;
}

.que-es p, .descrip p {
    margin-inline: 7px;
}

.descripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block: 50px;
}

.contacto {
    width: 34%
}

.descrip {
    width: 64%;
}

.contacto ul {
    margin-top: 10px;
    margin-left: 30px;
}

.decorada {
    color: #b48d44;
    font-weight: bold;
}

.contacto ul li a {
    color: #d84339;
}

@media screen and (min-width: 360px) and (max-width: 400px) {
    .contenido {
        width: 94%;
        margin: auto;
    }

    .informacion img, .que-es, .contacto, .descrip {
        width: 95%;
    }

    .descrip ul {
        margin-left: 25px;
        margin-block: 5px;
    }
}