@import "main.css";

.carrusel {
  height: calc(100vh - 60px);
}

.carrusel-img {
  object-fit: cover;
}

.carousel-item {
  height: calc(100vh - 60px);
  position: relative;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}


.carousel-caption {
  right: 0;
  top: 10px;
}


/***********
AGENDA 
***********/

.agenda {
  background-color: rgb(180, 141, 68);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 20px;
  font-size: 20px;
}

.agenda a {
  color: firebrick;
  padding: 10px;
  background-color: #2be27d;
  border-radius: 7px;
}

.agenda p {
  margin: 0;
}


/*********
CONTENIDO 
*********/

.contenido {
  display: grid;
  grid-template-columns: 100px auto 250px 100px;
  grid-template-rows: auto;
  grid-template-areas: 
  ". noticias novedades ."
  "destacado destacado destacado destacado";
  margin-top: 20px;
}

/*********
NOTICIAS 
*********/

.noticias {
  grid-area: noticias;
}

.noticias h3 {
  font-size: 30px;
  text-decoration: underline;
  margin-left: 30px;
  margin-top: 20px;
}

.cont-noticias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.noticia {
  width: 250px;
  border: 1px solid #a3a3a3;
  margin-block: 10px;
  border-radius: 4px;
}

.noticia a {
  padding: 0;
  margin: 0;
  position: relative;
}

.noticia img {
  object-fit: cover;
  width: 248px;
  height: 150px;
  display: block;
}

.noticia h4 {
  font-size: 20px;
  margin-top: 5px;
  margin-inline: 5px;
}

.fecha {
  position: absolute;
  z-index: 2;
  color: midnightblue;
  background-color: mediumspringgreen;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  top: 135px;
  left: 10px;
  width: 65px;
}

.fecha p {
  display: flex;
}

.not-hov {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.not-hov i {
  font-size: 40px;
  color: orange ;
}

.hov-flcha:hover .not-hov {
  opacity: 1;
}

.ver-mas {
  display: flex;
  justify-content: center;
  margin-block: 20px;
}

.ver-mas a {
  padding: 10px;
  background-color: #2be27d;
  color: white;
  border-radius: 7px;
}

/**********
NOVEDADES
**********/

.novedades {
  grid-area: novedades;
  border: 1px solid gray ;
}

.novedades h3 {
  margin-left: 15px;
  margin-top: 10px;
  text-decoration: underline;
}

.novedades hr {
  width: 90%;
  margin-inline: auto;
  margin-block: 10px;
  height: 3px;
  background-color: gray;
  border: none;
}

.novedad {
  text-align: center;
  margin-inline: 5px;
}

.novedad h4 {
  font-weight: bold;
  font-size: 20px;
}

.novedad h5 {
  font-size: 17px;
}

.novedad img {
  width: 200px;
}

/**********
DESTACADO
**********/


.destacados {
  grid-area: destacado;
  background-color: darkkhaki;
}

.destacados h3 {
  text-decoration: underline;
  margin-block: 10px;
  margin-left: 15px;
}

.cont-destacados{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.destacado {
  margin-inline: 5px;
}

.destacado h4{
  text-align: center;
}

.destacado img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

